@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(225deg, #BB2649, #CA7387);
}

svg {
  width: 90%;
  height: 90vh;
}
svg #circle,
svg .letters {
  fill: none;
  stroke: #25BA3C;
}
svg .letters {
  stroke-linejoin: round;
}
svg #circle {
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

svg#spiroGraph .cls-1 {
  fill: #39b54a;
}
svg#spiroGraph .cls-1, svg#spiroGraph .cls-2, svg#spiroGraph .cls-3, svg#spiroGraph .cls-4, svg#spiroGraph .cls-5, svg#spiroGraph .cls-6, svg#spiroGraph .cls-7, svg#spiroGraph .cls-8, svg#spiroGraph .cls-9, svg#spiroGraph .cls-10, svg#spiroGraph .cls-11, svg#spiroGraph .cls-12, svg#spiroGraph .cls-13, svg#spiroGraph .cls-14, svg#spiroGraph .cls-15, svg#spiroGraph .cls-16, svg#spiroGraph .cls-17, svg#spiroGraph .cls-18, svg#spiroGraph .cls-19, svg#spiroGraph .cls-20, svg#spiroGraph .cls-21, svg#spiroGraph .cls-22 {
  opacity: 0.25;
}
svg#spiroGraph .cls-2 {
  fill: #2e3192;
}
svg#spiroGraph .cls-3 {
  fill: #29abe2;
}
svg#spiroGraph .cls-4 {
  fill: #1b1464;
}
svg#spiroGraph .cls-5 {
  fill: #22b573;
}
svg#spiroGraph .cls-6 {
  fill: #d9e021;
}
svg#spiroGraph .cls-7 {
  fill: #c1272d;
}
svg#spiroGraph .cls-8 {
  fill: #d4145a;
}
svg#spiroGraph .cls-9 {
  fill: #9e005d;
}
svg#spiroGraph .cls-10 {
  fill: #93278f;
}
svg#spiroGraph .cls-11 {
  fill: #8cc63f;
}
svg#spiroGraph .cls-12 {
  fill: #662d91;
}
svg#spiroGraph .cls-13 {
  fill: #ed1c24;
}
svg#spiroGraph .cls-14 {
  fill: #f7931e;
}
svg#spiroGraph .cls-15 {
  fill: #fbb03b;
}
svg#spiroGraph .cls-16 {
  fill: #fcee21;
}
svg#spiroGraph .cls-17 {
  fill: #ed1e79;
}
svg#spiroGraph .cls-18 {
  fill: #f15a24;
}
svg#spiroGraph .cls-19 {
  fill: #00a99d;
}
svg#spiroGraph .cls-20 {
  fill: #009245;
}
svg#spiroGraph .cls-21 {
  fill: #006837;
}
svg#spiroGraph .cls-22 {
  fill: #0071bc;
}

#spiroOne {
  width: 100%;
  height: 100vh;
}
#spiroOne .cls-1 {
  fill: #a97c50;
}
#spiroOne .cls-1, #spiroOne .cls-2, #spiroOne .cls-3, #spiroOne .cls-4, #spiroOne .cls-5, #spiroOne .cls-6, #spiroOne .cls-7, #spiroOne .cls-8, #spiroOne .cls-9, #spiroOne .cls-10 {
  opacity: 0.25;
}
#spiroOne .cls-2 {
  fill: #594a42;
}
#spiroOne .cls-3 {
  fill: #c49a6c;
}
#spiroOne .cls-4 {
  fill: #c2b59b;
}
#spiroOne .cls-5 {
  fill: #8b5e3c;
}
#spiroOne .cls-6 {
  fill: #726658;
}
#spiroOne .cls-7 {
  fill: #603913;
}
#spiroOne .cls-8 {
  fill: #3c2415;
}
#spiroOne .cls-9 {
  fill: #754c29;
}
#spiroOne .cls-10 {
  fill: #9b8579;
}

#spiroTwo .cls-1 {
  fill: #6f6842;
}
#spiroTwo .cls-1, #spiroTwo .cls-2, #spiroTwo .cls-3, #spiroTwo .cls-4, #spiroTwo .cls-5, #spiroTwo .cls-6 {
  opacity: 0.7;
}
#spiroTwo .cls-2 {
  fill: #958f25;
}
#spiroTwo .cls-3 {
  fill: #255695;
}
#spiroTwo .cls-4 {
  fill: #c8c595;
}
#spiroTwo .cls-5 {
  fill: #95acc8;
}
#spiroTwo .cls-6 {
  fill: #262262;
}

#spiroThree .cls-1 {
  fill: #00a79d;
}
#spiroThree .cls-1, #spiroThree .cls-2 {
  opacity: 0.75;
}
#spiroThree .cls-2 {
  fill: #da8416;
}/*# sourceMappingURL=style.css.map */