* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a8330;
  svg {
    //you can target the svg as a whole and change its width
    width: 50%;
    #circle,
    .letters {
      fill: none;
      stroke: #892240;
    }
    .letters {
        stroke-linejoin: round;
        stroke-dasharray: 177;
        stroke-dashoffset: 177;
        animation: 8s lettersAnimate forwards;
    }
    #circle {
      stroke-miterlimit: 10;
      stroke-width: 3px;
      stroke-dasharray: 275;
      stroke-dashoffset: 275;
      animation: 4s circleAnimate forwards;
      // animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    //   animation-timing-function: cubic-bezier(0.07, 0.56, 0.11, 0.99);
    animation-timing-function: cubic-bezier(0.18,0.89,0.32,1.27);;
      animation-delay: 2s;
    }
    @keyframes circleAnimate {
      from {
        stroke-dasharray: 275;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    @keyframes lettersAnimate {
      from {
        stroke-dashoffset: 177;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
} //HTML One Ends Here/////////////////////////////

div#two {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  svg {
    width: 50%;
    .circleTwo {
      stroke: #231f20;
      stroke-miterlimit: 10;
      stroke-width: 10px;
      stroke-dasharray: 1470;
      stroke-dashoffset: 1470;
      animation: 4s circleTwoAnimate forwards;
      animation-timing-function: cubic-bezier(0.18,0.89,0.32,1.27);;

    }

    .circleTwo, .lettersTwo {
      fill: none;
    }

    .lettersTwo {
      stroke: #000;
      stroke-width: 6px;
      stroke-linejoin: round;
      stroke-dasharray: 790;
      stroke-dashoffset: 790;
      animation: 6s lettersTwoAnimate forwards;
      animation-timing-function: cubic-bezier(.17,.67,.39,.97);
    }

    @keyframes circleTwoAnimate {
      from {
        stroke-dasharray: 1470;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    @keyframes lettersTwoAnimate {
      from {
        stroke-dasharray: 790;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
} //divTwo ends here //////////////

div#bye {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  svg {
    width: 40%;
    .byeLet {
      stroke-width: 6px;
      stroke-dasharray: 790;
      stroke-dashoffset: 790;
      animation: 5s byeLetAnimate forwards;
      animation-timing-function: cubic-bezier(0,1,.92,.23);
    }

    .byeLet, .circleTri {
      fill: none;
      stroke: #e6e7e8;
    }

    .circleTri {
      stroke-miterlimit: 10;
      stroke-width: 15px;
      stroke-dasharray: 1470;
      stroke-dashoffset: 1470;
      animation: 5s circleTriAnimate forwards;
      animation-timing-function: cubic-bezier(.27,.73,.92,.23);
      animation-delay: 0.5s;
    }

    @keyframes circleTriAnimate {
      from {
        stroke-dasharray: 1470;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    @keyframes byeLetAnimate {
      from {
        stroke-dasharray: 790;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}


