* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a8330;
}
div#container svg {
  width: 50%;
}
div#container svg #circle,
div#container svg .letters {
  fill: none;
  stroke: #892240;
}
div#container svg .letters {
  stroke-linejoin: round;
  stroke-dasharray: 177;
  stroke-dashoffset: 177;
  -webkit-animation: 8s lettersAnimate forwards;
          animation: 8s lettersAnimate forwards;
}
div#container svg #circle {
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 275;
  stroke-dashoffset: 275;
  -webkit-animation: 4s circleAnimate forwards;
          animation: 4s circleAnimate forwards;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.27);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.27);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes circleAnimate {
  from {
    stroke-dasharray: 275;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes circleAnimate {
  from {
    stroke-dasharray: 275;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes lettersAnimate {
  from {
    stroke-dashoffset: 177;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lettersAnimate {
  from {
    stroke-dashoffset: 177;
  }
  to {
    stroke-dashoffset: 0;
  }
}

div#two {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
div#two svg {
  width: 50%;
}
div#two svg .circleTwo {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 10px;
  stroke-dasharray: 1470;
  stroke-dashoffset: 1470;
  -webkit-animation: 4s circleTwoAnimate forwards;
          animation: 4s circleTwoAnimate forwards;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.27);
          animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.27);
}
div#two svg .circleTwo, div#two svg .lettersTwo {
  fill: none;
}
div#two svg .lettersTwo {
  stroke: #000;
  stroke-width: 6px;
  stroke-linejoin: round;
  stroke-dasharray: 790;
  stroke-dashoffset: 790;
  -webkit-animation: 6s lettersTwoAnimate forwards;
          animation: 6s lettersTwoAnimate forwards;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.39, 0.97);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.39, 0.97);
}
@-webkit-keyframes circleTwoAnimate {
  from {
    stroke-dasharray: 1470;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes circleTwoAnimate {
  from {
    stroke-dasharray: 1470;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes lettersTwoAnimate {
  from {
    stroke-dasharray: 790;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lettersTwoAnimate {
  from {
    stroke-dasharray: 790;
  }
  to {
    stroke-dashoffset: 0;
  }
}

div#bye {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}
div#bye svg {
  width: 40%;
}
div#bye svg .byeLet {
  stroke-width: 6px;
  stroke-dasharray: 790;
  stroke-dashoffset: 790;
  -webkit-animation: 5s byeLetAnimate forwards;
          animation: 5s byeLetAnimate forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 0.92, 0.23);
          animation-timing-function: cubic-bezier(0, 1, 0.92, 0.23);
}
div#bye svg .byeLet, div#bye svg .circleTri {
  fill: none;
  stroke: #e6e7e8;
}
div#bye svg .circleTri {
  stroke-miterlimit: 10;
  stroke-width: 15px;
  stroke-dasharray: 1470;
  stroke-dashoffset: 1470;
  -webkit-animation: 5s circleTriAnimate forwards;
          animation: 5s circleTriAnimate forwards;
  -webkit-animation-timing-function: cubic-bezier(0.27, 0.73, 0.92, 0.23);
          animation-timing-function: cubic-bezier(0.27, 0.73, 0.92, 0.23);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes circleTriAnimate {
  from {
    stroke-dasharray: 1470;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes circleTriAnimate {
  from {
    stroke-dasharray: 1470;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes byeLetAnimate {
  from {
    stroke-dasharray: 790;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes byeLetAnimate {
  from {
    stroke-dasharray: 790;
  }
  to {
    stroke-dashoffset: 0;
  }
}/*# sourceMappingURL=style.css.map */